#timelineContainer
	%br.clear
	.timelineMajor
		%h2.timelineMajorMarker 2012
		%dl.timelineMinor
			%dt{:id=>"556991"}
				%a BossDrum's Super Moment
				%dd{:class=>"timelineEvent", :id=>"556991EX", :style=>"display: none;"}
					%p Here is where history was made, and tears were cried...
					.media
						%a.CBmodal.cboxElement{:href=>"http://youtu.be/qL3bjLIlpTc"} fes
	.timelineMajor
		%h2.timelineMajorMarker 2011
		%dl.timelineMinor
			%dt{:id=>"132123"}
				%a Something Happened Here
				%dd{:class=>"timelineEvent", :id=>"132123EX", :style=>"display: none;"}
					%p content goes here?
-# #time-line-addition.span5
-# 	.time-line-overlay
-# 	%p And here is some wrighting
-# 