// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{height:100%;background-color:#2f2f2f;}
.container{min-height:1800px}

/*Override*/
a:hover{
	text-decoration:none;
}
/*	ENGRAVED TEXT*/
.timelineMajor h2 span{
	/* Medium text on lighter background */
	color: #666;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */
}
p{
	font-family: Impact, Charcoal, sans-serif;
	color:#fff;
	overflow:hidden;
}
.timelineEvent .media img{
	border: 3px solid #2f2f2f;
	opacity: 0.6;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
/*END*/

#main-layout{
	margin: 20px auto;
	background:black url("pronsbanner3.png") no-repeat;
	background-size: 100% 750px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 9px 11px 20px black;
	border-radius: 0;
	margin-bottom:60px;
}

.banner-overlay{
	height:400px;
}

#occupy-right-top{
	float:right;
	height:300px;
	width:200px;
}

#time-line-addition{
	position:relative;
	min-height:100px;
	overflow:hidden;
	color:#fff;
	border:dashed 3px #FFF;
}

.time-line-overlay{
	position:absolute;
	opacity:.3;
	background-color:gray;
	height:100%;
	width:100%;

}