<!DOCTYPE html>
<html>
<head>
  <title>Prons</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="hero-unit" id="topunit">
			<h1>Project Nemesis</h1>
		</div>
		<%= yield %>
	</div>
</body>
</html>
